OPENAI_API_KEY=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
OPENAI_MODEL=gpt-5.5-2026-04-23
